body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: #ffffff;
}

.card-img-top {
  height: 350px;
}

header {
  background-image: url('../imgs/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}

.container-0 {
  display: flex;
  justify-content: center;
}

.container-0 h1 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}

.targets-hospedaje {
  margin: 50px;
}
.hotel-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.hotel-card .location-info {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.hotel-card .location-info span {
  margin-left: 0.5rem;
}

.hotel-card img {
  width: 350px;
  height: auto;
  border-radius: 1rem;
  padding: 10px;
}
.hotel-card .card-body {
  padding: 1rem;
}
.hotel-card .rating {
  display: flex;
  align-items: center;
}
.hotel-card .rating span {
  margin-left: 0.5rem;
}
.hotel-card .btn {
  margin-top: 1rem;
}

.icon-geo {
  color: green;
}

.icon-star {
  color: gold;
}
